.c1{
    display: flex;
   
}

body{
    margin-top: 100px;
    margin-left: 500px;
    border: 2px solid black ;
    width: 500px;
    font-family: Arial, sans-serif;
   
  
   
}
label {
    display: block;
    margin-bottom: 10px;
   
}
input,textarea,select{
    margin: 10px 0 0 0;
    width: 80%;

}

select{
    width:60px;
}






.input-field {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}



